html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.nav {
	position: relative;
	height: 74px;
	background: #000;
}

	#logo {
		position: absolute;
		left: 0;
		top: 0;
		padding: 20px 24px;
	}

	#description {
		padding-top: 28px;
		text-align: center;
		color: #fff;
		font-family: 'Cutive Mono', 'Courier', monospace;
		font-size: 14px;
	}

	.searchfield {
		position: absolute;
		right: -2px;
		top: 0;
		height: 74px;
		box-sizing: border-box;
		width: 0px;
		font-size: 16px;
		font-family: 'Cutive Mono', 'Courier', monospace;
		background: #fff;
		border: none;
		padding: 0px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

		.searchfield:focus{
	   		outline: none;
		}	

		/* instantly activated properties */
		.opened-searchfield {
			padding: 16px 62px 16px 16px;
			right: 0;
		}

		/* animated properties */
		.widened-searchfield {
			width: 300px;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

	#searchbutton {
		position: absolute;
		right: 0;
		top: 0;
		padding: 24px 24px 24px 8px;
		cursor: pointer;
	}
		/* animates the icon to change from whit -> black */
		.dark-searchbutton path, .dark-searchbutton ellipse {
			stroke: #000;
		    -webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}

.summary-wrapper {
	text-align: center;
}

	.summary {
		background: #c3bbff;
		padding: 6.5px;
		font-family: Calibre-Regular;
		margin-top: 16px;
		box-shadow: 8px 0 0 #c3bbff, -8px 0 0 #c3bbff;
		display: inline-block;
	}

section {
	max-width: 850px;
	margin: 0 auto;
	padding: 52px;
}

	.title {
		font-family: TiemposHeadline-Light;
		font-size: 32px;
		color: #000000;
	}

	.date, .location {
		font-family: "Oswald";
		text-transform: uppercase;
		font-size: 14px;
		color: #000000;
		letter-spacing: 0.8px;
		display: inline;
		padding-right: 8px;
	}

	.artists-container {
		/* FIX COLLAPSING PARENT */
		display: inline-block;
    	width: 100%;
    	padding-top: 16px;
	}

		.artists {
			width: 20%;
			padding-right: 5%;
			float: left;
		}

			.artists .heading {
				font-family: Calibre-Regular;
				font-size: 16px;
				color: #000000;
			}

			.artists ul {
				font-family: 'Cutive Mono', 'Courier', monospace;
				font-size: 16px;
				color: #000000;
				padding: 0;
			}
			
				.artists ul li {
					margin: 0.5em 0;
					list-style-type: none;
				}

				.artists ul li:nth-child(n+9) {  
					display: none
				}

	.toggle {
		font-family: Calibre-Regular;
		font-size: 16px;
		color: #000000;
		cursor: pointer;
	}

	hr {
		width: 100%;
	}

.footer {

}

@media (max-width: 400px) {
	#description {
		display: none;
	}
}

/* TODO: 2 artist lists per line, then 1 per line on mobile(?) */
/* TODO: full width search bar */
/* TODO: fade out / display:none on description to prevent clipping? */
/*@media (max-width: 600px) { 
	.artists {
		width: 40%;
		padding-right: 5%;
	}
}*/