html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.nav {
	position: relative;
	height: 74px;
	background: #000;
}

	#logo {
		position: absolute;
		left: 0;
		top: 0;
		padding: 20px 24px;
	}

	#description {
		display: block;
		padding-top: 28px;
		text-align: center;
		color: #fff;
		font-family: 'Cutive Mono', 'Courier', monospace;
		font-size: 14px;
	}

	#description-short {
		display: none;
		padding-top: 28px;
		text-align: center;
		color: #fff;
		font-family: 'Cutive Mono', 'Courier', monospace;
		font-size: 14px;
	}

	.searchfield {
		position: absolute;
		right: -2px;
		top: 0;
		height: 74px;
		box-sizing: border-box;
		width: 0px;
		font-size: 16px;
		font-family: 'Cutive Mono', 'Courier', monospace;
		background: #fff;
		border: none;
		border-radius: 0px;
		padding: 0px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

		.searchfield:focus{
	   		outline: none;
		}	

		/* instantly activated properties */
		.opened-searchfield {
			padding: 16px 62px 16px 16px;
			right: 0;
		}

		/* animated properties */
		.widened-searchfield {
			width: 100%;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}

	#searchbutton {
		position: absolute;
		right: 0;
		top: 0;
		padding: 24px 24px 24px 8px;
		cursor: pointer;
	}
		/* animates the icon to change from white -> black */
		.dark-searchbutton path, .dark-searchbutton ellipse {
			stroke: #000;
		    -webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
		}

.summary-wrapper {
	text-align: center;
	display: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

	.summary {
		padding: 6.5px;
		
		margin-top: 16px;
		display: inline-block;
	}

	.reset {
		display: inline-block;
		text-decoration: underline;
		cursor: pointer;
	}

section {
	max-width: 850px;
	margin: 0 auto;
	padding: 52px;
}
	
	section a {
		display: inline-block;
		color: #000;
		text-decoration: none;
	}

	section a:hover {
		text-decoration: underline;
	}

	.title {
		display: block;
		font-family: 'Playfair Display';
		font-size: 30px;
		color: #000000;
	}

	.date, .location {
		font-family: "Oswald";
		text-transform: uppercase;
		font-size: 14px;
		color: #000000;
		letter-spacing: 0.8px;
		display: inline;
		padding-right: 8px;
	}

	.artists-container {
		display: inline-block;
    	width: 100%;
    	padding-top: 16px;
	}

		.artists {
			width: 20%;
			padding-right: 5%;
			float: left;
			vertical-align: top;
		}

			.artists .heading {
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				color: #000000;
			}

			.artists ul {
				font-family: 'Cutive Mono', 'Courier', monospace;
				font-size: 16px;
				color: #000000;
				padding: 0;
			}
			
				.artists ul li {
					margin: 0.5em 0;
					list-style-type: none;
				}

				.artists ul li:nth-child(n+9) {  
					display: none
				}

				.artists ul li span.highlight {
					font-weight: bold;
				}

	.toggle {
		font-family: 'Open Sans', sans-serif;
		font-size: 13px;
		color: #000000;
		cursor: pointer;
	}

	hr {
		width: 100%;
		border-left: 0;
		border-right: 0;
	}


.footer {

}


/* TODO: 2 artist lists per line, then 1 per line on mobile(?) */
@media (max-width: 600px) { 
	.artists {
		width: 40%;
		padding-right: 10%;
	}
}

@media (max-width: 400px) {
	#description {
		display: none;
	}

	#description-short {
		display: block;
	}

	section {
		padding: 32px;
	}
}